<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= simple_form_for [@activity, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.button :submit, "Submit", class: "small-btn-cta" %>
      <% end %>
    </div>
  </div>
</div>
