<div class="container">
  <div class="row">
      <h1>Your bookings</h1>


        <table class="table table-sm table-striped " >

          <thead class="thead-dark">
            <tr>
              <th>Booking</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
          </thead>

          <tbody>
            <% @bookings.each_with_index do |booking, index| %>
              <tr>
                <td><%= link_to "Booking n°#{index + 1}", booking_path(booking), class: "link-color" %></td>
                <td><%= "#{booking.start_date}" %></td>
                <td><%= "#{booking.end_date}" %></td>
              </tr>
            <% end %>
          </tbody>

        </table>
  </div>
</div>
