<h1>We are letting your pals know!</h1>

<div class="grid">
  <% @participants.each do |participant| %>
  <div class="container card-photo">
    <div class="container_photo_round">
      <%= image_tag participant.photo, class: "participant-photo" %>
    </div>
  </div>
  <% end %>
</div>
<div class="row">
<%= image_tag "hourglass.png" %>
</div>
<h3>You'll soon be able to enjoy your activity with your safe new friends!</h3>

<div class="container-sm">
  <div class="row" id="btn-link">
    <%# <%= link_to "Event details", potential_part_selected_activity_path, class: "btn small-btn" %>
  </div>
</div>
