.small-btn {
  width: 150px;
  height: 40px;
  margin-right: 0px;
  margin-left: 0px;
}
.sign-in-sign-up {
  border: 1px solid $gray;
  margin-left: 5px;
  margin-right: 5px;
}
#btn-link {
  display: flex;
  justify-content: space-between;
}
