.small-btn {
  width: 150px;
  height: 40px;
  margin-right: 0px;
  margin-left: 0px;
}
.small-btn-landing-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FCBAD3;
  color: $black;
  border-radius: 15px;
  width: 250px;
  height: 50px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.sign-in-sign-up {
  border: 1px solid $gray;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
#btn-link {
  display: flex;
  justify-content: space-between;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FCBAD3;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
  color: $black;
  border: none;
  border-radius: 15px;
  width: 100px;
  height: 40px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  size: 30px;
  margin: 0 auto; /* Automatically calculate left and right margins */
}
.submit-button-lg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FCBAD3;
  color: $black;
  border-radius: 15px;
  width: 200px;
  height: 40px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  size: 30px;
  margin: 0 auto; /* Automatically calculate left and right margins */
}

#button-save-participations {
  text-align: right;
  margin-top: 25px;
  margin-bottom: 5px;
}
.review-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9ef7c6;
  color: $black;
  border-radius: 15px;
  border: none;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
  width: 100px;
  height: 40px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  size: 30px;
  margin: 0 auto; /* Automatically calculate left and right margins */
}
#button-review {
  text-align: right;
  margin-top: 0px;
  margin-bottom: 20px;
}
.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FCBAD3;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
  color: $black;
  border-radius: 15px;
  width: 100px;
  height: 40px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  size: 30px;
  // margin: 0 auto; /* Automatically calculate left and right margins */
}
.back-button a{
  color: black;
  background-color: #FCBAD3;
  font-weight: normal;
}
.edit{
  width: 90px;
  margin: 3px;
  background-color: #9ef7c6;
  border-radius: 15px;
}
.delete{
  width: 90px;
  margin: 5px;
  padding: 8px;
  background-color: rgb(177, 88, 121);
  border-radius: 15px;
  color: $white;
}
.delete a{
  background-color: rgb(177, 88, 121);
  color: white;
  font-weight: normal;
}
.send-a-message{
  background-color: #FCBAD3;
  color: black;
  border-radius: 10px 10px 10px 10px;
  height: 40px;
  box-shadow: 1px 1px 1px 1px;
}
#back-button-bookings{
  width: 150px;
}
