.card {
  height: 100%;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-right: 50px;
}
.card-img-top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 200px;
}
