.card {
margin-bottom: 0.5rem;
}

.homepagecard{
  margin-bottom: 0.5rem;
  height: 350px;

  .card-img-top {
    height: 160px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .card-body {
    background-color: $white;
  }

  .card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-right: 50px;
}
.card-img-top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 200px;
}
.cards-participants {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
@media(max-width: 992px) {
  .cards-participants {
    grid-template-columns: 1fr 1fr;
  }
}
.card-photo{
display: flex;
text-align: center;
justify-content: center;
align-items: center;
margin-bottom: 20px;
}
.card-text-photo{
  text-align: center;
}
.card-review{
  height: 210px;
}
