.circle-container {
  position: relative;
  width: 300px; /* adjust the size of the circle */
  height: 300px;
  border-radius: 50%;
  background-color: lightgray; /* adjust the background color of the circle */
  margin: 50px auto; /* center the circle on the page */
}

.photo-container {
  position: absolute;
  width: 50px; /* adjust the size of the small circle */
  height: 50px;
  border-radius: 50%;
  background-color: white; /* adjust the background color of the small circle */
  transform-origin: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent {
  position: relative;
  padding: 0;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip;
  border-style: double;
  border-color: $pink;
  border-width: 10px;

  img {
    object-fit: cover;
  }
}

* {
  box-sizing: border-box;
}

.image-holder {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.image-holder:hover {
  animation-play-state: paused;
}

.image-holder img {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.image-holder img:nth-child(1) {
  top: -1px;
  left: -15px;
  border-style: outset;
  border-width: 4px;
  border-color: $pink;
  object-fit: cover;
  object-position: center;
}

.image-holder img:nth-child(3) {
  top: -1px;
  right: -15px;
  border-style: outset;
  border-width: 4px;
  border-color: $pink;
  object-fit: cover;
  object-position: center;
}

.image-holder img:nth-child(5) {
  bottom: -1px;
  right: -15px;
  border-style: outset;
  border-width: 4px;
  border-color: $pink;
  object-fit: cover;
  object-position: center;
}

.image-holder img:nth-child(7) {
  bottom: -1px;
  left: -15px;
  border-style: outset;
  border-width: 4px;
  border-color: $pink;
  object-fit: cover;
  object-position: center;
}

.image-holder img:nth-child(2) {
  top: -40px;
  left: 50%;
  border-style: outset;
  border-width: 4px;
  border-color: $pink;
  transform: translateX(-50%);
  object-fit: cover;
  object-position: center;
}

.image-holder img:nth-child(4) {
  top: 50%;
  right: -40px;
  border-style: outset;
  border-width: 4px;
  border-color: $pink;
  transform: translateY(-50%);
  object-fit: cover;
  object-position: center;
}

.image-holder img:nth-child(6) {
  bottom: -40px;
  left: 50%;
  border-style: outset;
  border-width: 4px;
  border-color: $pink;
  transform: translateX(-50%);
  object-fit: cover;
  object-position: center;
}

.image-holder img:nth-child(8) {
  top: 50%;
  left: -40px;
  border-style: outset;
  border-width: 4px;
  border-color: $pink;
  transform: translateY(-50%);
  object-fit: cover;
  object-position: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
