.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.container-review {
background-color: white;
padding: 5px;
box-shadow: 2px 2px 2px 2px;
margin-top: 15px;
}
