.container_photo {
display: flex;
justify-content: center;
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}
.container-photo-round {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    padding: 0px;
    }
}
.container-photo-round-booking {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  padding: 0px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    padding: 0px;
    }
}
.checkbox {
  opacity: 0;
}
  .container_photo_review {
    display: flex;
    justify-content: center;
    width: 350px;
    height: 200px;
    padding: 15px 15px 15px 15px;
    border-radius: 5% 0% 5% 0%;
    box-shadow: 2px 2px 2px 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: grey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    }
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(233, 198, 227);
  padding-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.grid-memories{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: rgb(233, 198, 227);
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
}

.photo-container-memory{
  display: flex;
  justify-content: center;
  padding: 5px;

  img {
    width: 83.5px;
    height: 125.25px;
    object-fit: cover;
  }

  img.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-color: rgb(233, 198, 227);
    border-width: 2px;
    object-fit: contain;
    object-position: center;
  }

}

.carousel-control-next-icon{
  margin-top: -100px;
}
.carousel-control-prev-icon{
  margin-top: -100px;
}
.carousel-review{
  margin-left: 5px;
}
.avatar-review{
  margin-left: 5px;
}
.home-sub-container{
  background-color: rgb(233, 198, 227);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px;
}
