.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.container-review {
background-color: white;
padding: 5px;
box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
margin-top: 15px;
border-radius: 5px;
}

.video-background video {
  position: fixed; /* or absolute */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -100;  /* Ensures video stays in the background */
}
