.container_photo {
display: flex;
justify-content: center;
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
}
.container_photo_round {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    padding: 0px;
  }
  }

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
