.h1-homepage {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0;
  font: $headers-font;
}
.description{
  text-align: left;
}
.rating{
  font-size: 30px;
  padding: 0px;
}
.content{
  color: purple;
  background-color: white;
  margin-left: 0px;
  box-shadow: 2px 2px 2px 2px;
}
.circle-comment{
  color: grey;
  margin-bottom: 0px;
  margin-left: 5px;
}
