.navbar-lewagon {
  justify-content: space-between;
  background: #F5EEE6;
  background: linear-gradient(to left, transparent -20%, purple);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover; /* Ensures the image covers the area without distorting */
}

.navbar-toggler {
  border: none; /* Removes any borders */
}
