.navbar-lewagon {
  justify-content: space-between;
  // background: #F5EEE6;
  background: purple;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.navbar-brand {
  background: transparent;
}

.navbar-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover; /* Ensures the image covers the area without distorting */
}

.navbar-toggler {
  border: none; /* Removes any borders */
}
.nav-item {
  padding-top: 15px;
  color: white;
}
.dropdown-item {
  text-align: right;
}
