.participant-checkbox {
  display: none; /* Hide the actual checkbox */
}
.participant-photo {
  cursor: pointer; /* Indicates the photo is clickable */
  /* Add more styling as needed */
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
