.photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

#rounded-picture {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

#activity-photo {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  background-color: purple;
}
#activity-photo a{
  color: white;
  font-weight: normal;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-image {
  animation: rotate360 30s linear infinite;
}

.image-holder {
  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

}

.image-holder img {
  animation-direction: normal;
}

.image-holder:hover {
  animation-play-state: paused;
}
