.photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

#rounded-picture {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.dimension{
  width: 173px;
  height: 146px;
}

#activity-photo {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  background-color: #FCBAD3;
  border: none;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.7);
  border-radius: 5px;
  height: 45px;
  width: 200px;
  justify-content: center;
  padding-top: 9px;
}
#activity-photo a{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: normal;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate-image {
  animation: rotate360 30s linear infinite;
}

.image-holder {
  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

}

.image-holder img {
  animation-direction: normal;
}

.image-holder:hover {
  animation-play-state: paused;
}
