.row {
  width: 100%;
  height: auto;
  background-color: rgb(207, 204, 204);
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}
#row-sub{
  background-color: white;
  justify-content: center;
}
