h1 {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 20px;
  text-align: center;
}
#activity-title {
  display: flex;
  width: 150px;
  height: 30px;
  background-color: purple;
  border-radius: 10%;
  align-items: center;
  justify-content: center;
}
h2 {
  padding-top: 20px;
}
