<h1>Activities' list</h1>
<ul>
<% activity_duplicates = [] %>
<% @activities.each do |activity|%>
<% activity_duplicates << activity.category %>
<% end %>
<% activity_duplicates.uniq.each do |activity_dry| %>
<li><%= link_to activity_dry, category_activities_path(category: activity_dry) %></li>
<% end %>
</ul>
