<h1>Activities' list</h1>
<ul>
<% @activities.each do |activity|%>
  <li>
    <div class="container_photo">
      <%= cl_image_tag activity.photo.key if activity.photo.attached? %>
      <%= link_to activity.name, activity_path(activity) %>
    </div>
  </li>
  <li><%= link_to activity.name, activity_path(activity, city: @city, date: @date, time: @time, max_price: @max_price, category: @category) %></li>
<% end %>
</ul>
