<h1>Potential participants</h1>



<%# user.near

preferred activity in
activity.category

liste serpent pets
= lost kitty
12-13 janvier livecode

collection acitivies::categories

activities controller
@activity = Activity.last
@potential participants = @user.near(@activity.city).where("preferred_activities in?", [@acitivity.category])

view custom
activities

potential_participant view custom, controller user (ou activities controller), routes custom
neste ds activities car activiti id
user.near ac activit.city dont pref activity.ctegorey
@acitivity.find(params id)
@POTENTIAL PARTICIP = user.near.preferr category

date pr activity %>
